*{
 font-family: 'Open Sans',sans-serif;
 margin: 0;
 padding: 0;
 border: 0;

 /* box-sizing: border-box; */
 }
.header {
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.5)), url(./img/bg1.png
);
   background-position: center;
   background-size: cover;
   position: relative;
}

/* Navigation bar */
nav {
   display: flex;
   padding: 0% 6%;
   justify-content: space-around;
   align-items: center;
}

nav img {
   display: flex;
   width: 120px;
}

.nav-bar {
   flex: 1;
   text-align: right;
}
.nav-bar ul li {
   list-style: none;
   display: inline-block;
   padding: 1px 1px;
   position: relative;
   margin: 0 10px;
   transition: 0.3s;
}

.nav-bar ul li a {
   display: block;
   position: relative;
   padding: 5px;
   color: #fff;
   font-weight: 400;
   text-decoration: none;
   font-size: 17px;
   transition: 0.5s;
}

ul:hover li a {
   transform: scale(1);
   opacity: 1;
   /* filter: blur(1px); */
}

ul li a:hover {
   transform: scale(1.2);
   opacity: 1;
   /* filter: blur(0); */
   text-decoration: none;
   color: #fff;
}

ul li a:before {
   content: '';
   position: absolute;
   top: 2px;
   left: 2px;
   width: 100%;
   height: 100%;
   background: #66d9e3;
   transition: 0.3s;
   transform-origin: right;
   transform: scaleX(0);
   border-radius: 5%;
   z-index: -1;
}

ul li a:hover:before {
   transition: transform 0.5s;
   transform-origin: left;
   transform: scaleX(1);
}

nav .fa {
   display: none;
}

.front h2 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 5rem;
   color: transparent;
   text-transform: uppercase;
}

/* Biotsav effect  */
@media only screen and (max-width: 1100px) {
   .front h2 {
      font-size: 4rem;
   }
}

@media only screen and (max-width: 480px) {
   .front h2 {
      font-size: 4rem;
      width: 80%;
   }

}

h2:hover span:nth-child(1) {
   transform: translateY(-1rem);
}

@media only screen and (max-width: 1100px) {
   h2:hover span:nth-child(1) {
      transform: translateY(-0.7rem);
   }
}

@media only screen and (max-width: 480px) {
   h2:hover span:nth-child(1) {
      transform: translateY(-0.4rem);
   }
}

h2:hover span:nth-child(2) {
   transform: translateY(1rem);
}

@media only screen and (max-width: 1100px) {
   h2:hover span:nth-child(2) {
      transform: translateY(0.7rem);
   }
}

@media only screen and (max-width: 480px) {
   h2:hover span:nth-child(2) {
      transform: translateY(0.4rem);
   }
}

h2:hover span:nth-child(3) {
   opacity: 1;
   transition: opacity 700ms ease;
}

h2 span:nth-child(1),
h2 span:nth-child(2) {
   position: absolute;
   top: 0;
   left: 0;
   color: #fff;
   transition: 0.5s;
   overflow: hidden;
}

h2 span:nth-child(1) {
   clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
}

h2 span:nth-child(2) {
   clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

h2 span:nth-child(3) {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 350ms ease;
   font-size: 1.8rem;
   color: #000;
   background: #66d9e3;
   width: 97.5%;
   padding-left: 5px;

   text-align: center;
   letter-spacing: 0.4rem;
   word-spacing: 1rem;
   line-height: 100%;
}

@media only screen and (max-width: 1100px) {
   h2 span:nth-child(3) {
      font-size: 1.2rem;
   }
}

@media only screen and (max-width: 720px) {
   h2 span:nth-child(3) {
      font-size: 0.65rem;
      letter-spacing: 2px;
      word-spacing: 0.2rem;
      padding: 5px;
   }
}

/* toggle navbar for smaller screen */
@media(max-width:700px) {
   .nav-bar ul li {
      display: block;
      align-items: left;
   }

   .nav-bar ul li a:hover {
      font-size: 16px;
      color: #fff
   }

   .nav-bar {
      position: fixed;
      background: rgba(87, 125, 196, 0.5);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: center;
      z-index: 2;
      transition: 1s;
   }
    

   nav .fa {
      display: block;
      color: #fff;
      margin: 2px;
      font-size: 22px;
      cursor: pointer;
      padding-top: 30px;
   }
    nav .fa-bars{
      color: #fff;
      font-size: 25px;
      display: flex;
      margin-left: 50%;
   }

   .nav-bar ul {
      padding-top: 20px;
   }

   nav img {
      width: 60px;
      position: relative;
      top: 18px;
   }
}


.introduction {
   /* background-image: linear-gradient(white, black); */
   width: 100%;
   margin: auto;
   text-align: center;
   padding-top: 120px;
   background-color: rgba(17, 106, 22, 0.1);
}

.heading {
   font-family: 'Open Sans', sans-serif;
   font-size: 47px;
   color: black;
   font-weight: 700;
   letter-spacing: 4px;
}

p {
   color: black;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   font-weight: 400;
   line-height: 35px;
   padding: 150px;
   padding-top: 50px;
}

#about_heading {
   font-family: 'Open Sans', sans-serif;
   font-size: 44px;
   color: white;
   font-weight: 700;
   letter-spacing: 4px;
   padding-top: 450px;
   padding-left: 180px;
   text-align: left;
   width: auto;
   margin: auto;
}

.about {
   min-height: 75vh;
   width: 100%;
   background: linear-gradient(rgba(227, 219, 219, 0.1), rgba(0, 0, 0, 1)), url(./img/hd-wallpaper-6856228.jpg);
   background-size: cover; 
   position: relative; 
   background-position: center;
}


.images_allin3 {
   float: left;
   width: 20%;
   /* padding: 2px; */
}

.images_allin1 {
   float: left;
   width: 20%;
}

.images_allin2 {
   float: right;
   width: 15%;
}

#about_hed {
   font-family: 'Poppins', sans-serif;
   font-size: 32px;
   color: black;
   font-weight: 700;
   padding-top: 90px;
   padding-left: 180px;
   padding-right: 400px;
}

#about_txt {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   color: black;
   font-weight: 500;
   padding-top: 30px;
   padding-left: 180px;
   padding-right: 300px;
}


@media (max-width: 750px) {
   * {
      margin: 0;
      padding: 0;
      border: 0;
   }

   .introduction {
      width: auto;
   }

   p {
      color: black;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 200;
      line-height: 23px;
      padding: 30px;
   }

   #about_txt {
      font-family: 'Lato', sans-serif;
      font-size: 17px;
      color: black;
      font-weight: 500;
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
   }

   #about_hed {
      font-family: 'Poppins', sans-serif;
      font-size: 32px;
      color: black;
      font-weight: 700;
      padding-top: 90px;
      padding-left: 40px;
      padding-right: 40px;
   }

   .images_allin3 {
      float: left;
      width: 20%;
      padding-top: 30px;
      /* padding: 2px; */
   }

   .images_allin1 {
      float: left;
      width: 20%;
      padding-top: 35px;
   }

   .images_allin2 {
      float: right;
      width: 15%;
      padding-top: 30px;
   }

}
.contact-us {
 width: 80%;
 margin: auto;
 padding: 50px 0;
}
.row {
 margin-top: 5%;
 display: flex;
 justify-content: space-between;
}
.contact-col{
 flex-basis: 48%;
 margin-bottom: 30px;
}

.contact-col div{
 display: block;
 align-items: center;
 margin-bottom: 40px;
}

.contact-col div .fa {
 font-size: 28px;
 color: rgb(106, 53, 211);
 margin: 10px;
 margin-right: 30px;
}
.contact-col h4 {
 margin-bottom: 25px;
 margin-top: 17px;
 font-weight: 700;
 font-size: 20px;
}
.contact-form h4{
   margin-bottom:30px;
   margin-top: 20px;
   font-weight: 700;
   font-size: 20px;
}

 .contact-col div h5 {
 font-size: 20px;
 margin-bottom: 5px;
 color: #555;
 font-weight: 400;
} 

.contact-col input,
.contact-col textarea {
 width: 100%;
 padding: 15px;
 margin-bottom: 17px;
 outline: none;
 border: 1px solid #ccc;
 box-sizing: border-box;
}
.hero-btn {
 display: inline-block;
 text-decoration: none;
 color: white;
 border: 1px solid white;
 padding: 12px 34px;
 font: 13px;
 background: transparent;
 position: relative;
 cursor: pointer;
}

.hero-btn:hover {
 border: 1px solid rgb(106, 53, 211);
 background: rgb(106, 53, 211);
 transition: 1s;
}
.red-btn {
 border: 1px solid rgb(106, 53, 211);
 background: transparent;
 color: rgb(106, 53, 211);
}

.red-btn:hover {
 color: white;
}
@media(max-width:700px) {
 .row {
  flex-direction: column;
 }
}
/* Footer */
.footer {
 width: 100%;
 text-align: center;
 padding: 30px 0;
 background: #ccc;
}
.sociallinks{
   text-decoration: none;
}
.icons .fa {
 color: rgb(106, 53, 211);
 margin: 0 13px;
 cursor: pointer;
 padding: 18px 0;
}
.footer-heading{
   color:rgb(106, 53, 211);
}
/* Register */
.registration{
   min-height: 120vh;
      width: 100%;
      background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.5)), url(./img/bg1.png
   );
      background-position: center;
      background-size: cover;
      position: relative;
}
.register{
   height: 100vh;
   width:100%;
   background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.5)), url(./img/bg1.png);
   background-position: center;
   background-size: cover;
   position: relative;
}
.reg-heading{
      position: relative;
      text-align: center;
      font-size: 3rem;
      color: white;
   }
   .main{
      width: 400px;
      margin: 80px auto 0px auto;
   }  
   .reg-form{
      background-color: rgba(0,0,0,0.5);
      width: 100%;
      height: auto;
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid rgba(255,255,255,0.3);
      box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
      color:#fff;
   }
   #register{
      margin: 40px;
   }
   label{
      font-size: 18px;
      /* font-style: italic; */
   }
   #name{
      width: 300px;
      border: 1px solid #ddd;
      border-radius: 3px;
      outline: 0;
      padding: 7px;
      background-color: #fff;
      box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.3);
   }
   #submit{
      
      width: 200px;
      padding:7px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 3px;
      color: black;
      cursor:pointer;
      border: 1px solid rgba(255,255,255,0.3);
      box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
   }
   .reg-rules{
      background: white;
            width: 200px;
            padding: 7px 28px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 3px;
            color: black;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            text-decoration: none;
   }
/* ----- Event page ----- */

.event-header{
   height: 50vh;
   width: 100%;
   Background-image: linear-gradient(rgba(4,9,30,0.5),rgba(0, 0, 0, 0.7)),url(./img/eventbg1.jpg);
   background-position: center;background-size: cover;
   position: relative;
   text-align: center;
   color: #fff;
   text-transform: uppercase;
}
.event-header h1{
   margin-top: 100px;
   font-size: 50px;
}
.events{
   box-sizing: border-box;
   text-align: center;
   width: 100%;
   margin: auto;
   padding-top: 70px;
   padding-left: 3%;
}
.event-row{
   display: flex; 
}
.event-col{
   flex-basis: 31%;
   margin-right: 2%;
   border-radius: 10px;
   margin-bottom: 20px;
   height: 50vh;
   position: relative;
   overflow: hidden;
}
.event-col img{
   width: 100%;
   height: 100%;
}

.event-name{
   display: block;
   color: #fff;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 90%;
   left: 0;
}
.img-overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.9);
   color: #fff;
   overflow: hidden;
   transition: .5s ease;
   height: 0;
}
.event-col:hover .img-overlay {
   height: 100%;
}
.img-details {
   color: rgb(243, 42, 42);
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}
@media (max-width: 700px) {
   .event-header{
      height:auto;
   }
   .event-row{
      flex-direction: column;
   }
   .img-details {
      font-size: 13px;
   }
}

/* Registration button */
.reg-form{
   width: 100%;
   text-align:center;
   margin-top: 15px;
   margin-bottom: 30px;
}
.reg-link{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   border: 1px solid #2196f3;
   padding: 10px 30px;
   background-color: #2196f3;
   position: relative;
   border-radius: 30px;
   transition: 0.5s ease;
}
.reg-link:hover{
   transform: scale(1.2)
}


/*------ sponsors page -----*/
.sponsor-header {
   height: 45vh;
   width: 100%;
   Background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(0, 0, 0, 0.7)), url(./img/thankyou.jpg);
   background-position:50% 30%;
   background-size:cover;
   position: relative;
   text-align: center;
}
.sponsor-header h1 {
   padding-top: 100px;
   font-weight: 400;
   font-style: italic;
   font-family:cursive;
   font-size: 52px;
   background: -webkit-linear-gradient(rgb(112, 125, 220), rgb(249, 250, 251)); -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.sponsor-header hr{
   position: relative;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100px;
}

.thank{
   height: 50vh;
   width: auto;
   background-image:linear-gradient(rgba(50,47,47,0.2), rgba(50, 47, 47, 0.2)),url(./img/cloud.jpg) ;
   background-position: center;
   background-size: cover;
   text-align: center;
   margin: 80px 100px;
}
.thank p{
   font-size: 20px;
}

@media (max-width: 700px) {
   .sponsor-header h1{
      font-size: 30px;
   }
   .thank {
      height: 40vh;
      margin:10% 10%;
   }
   .thank p{
      font-size: 13px; ;
   }
}

/* Workshop */
/* .sampleimage{
    min-height: 100vh;
    width: 100%;
    background-image: url(./carousel-7654138.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
} */

#workshop_heading {
   background: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.5)), url(./img/bg1.png
   );
   width: 100%;
   height: 70vh;
   background-size: cover;
   font-size: 44px;
}

#workshop_heading_txt {
   font-family: 'Poppins', sans-serif;
   text-align: center;
   padding-top: 30vh;

}

#workid {
   font-size: 55px;
   color: white;
   font-weight: 700;
   letter-spacing: 4px;
   transition: 0.5s;
   width: auto;
}

#workid:hover {
   font-size: 60px;
}

/* #events{
    padding-top: 5rem;
    display: flex;
    justify-content: space-evenly; */
/* padding-top: 5rem;
    padding-left: 10rem; */
/* display: inline-block;
}
.image{
    width: 20rem;
}
.imageText{
    position: relative;
}
.imageText p{
    position: absolute;
    top: 0;
    background: rgba(153, 153, 153,0.6);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    align-content: center;
} */


#events {
   padding: 10%;
}

.right_div {
   float: right;
   width: 27%;
   background: url(./img/analysis-2030261.jpg);
   background-size: 100% 130%;
   height: 45vh;
   border-radius: 10px;
   /* padding: 1rem; */
}

.left_div {
   float: left;
   width: 27%;
   background: url(./img/circuit-1443256.jpg);
   background-size: 100% 110%;
   height: 45vh;
   border-radius: 10px;
}

.middle_div {
   margin: 0 auto;
   width: 27%;
   background: url(./img/crusader-garden-4403300.jpg);
   background-size: 100% 120%;
   height: 45vh;
   border-radius: 10px;
}


.right_div_head {
   float: right;
   width: 27%;
   text-align: center;
   padding-top: 20px;
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
}

.left_div_head {
   float: left;
   width: 27%;
   text-align: center;
   padding-top: 20px;
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   /* background: url(./circuit-1443256.jpg);
   background-size: 100% 100%;
   min-height: 50vh;
   border-radius: 10px; */
}

.middle_div_head {
   margin: 0 auto;
   width: 27%;
   text-align: center;
   padding-top: 20px;
   font-size: 22px;
   font-family: 'Poppins', sans-serif;
   /* background: url(./crusader-garden-4403300.jpg);
   background-size: 100% 100%;
   min-height: 50vh;
   border-radius: 10px; */
}




.img_txt {
   width: 100%;
   min-height: 45vh;
   /* background: transparent;
   color: rgba(255, 255, 255, 0); */
      border-radius: 10px;
   background: rgba(0, 0, 0, 0.5);
   color: rgb(255, 255, 255);
   text-align: center;

}

.txt {
   padding-top: 80px;
   padding-left: 20px;
   padding-right: 20px;
}




/* .img_txt:hover {
   background: rgba(0, 0, 0, 0.5);
   color: rgb(255, 255, 255);
} */

/* .img_txt:hover{
    color: rgba(0,0,0,1);
} */

/* .right_div:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0.471)) , url(./analysis-2030261.jpg);
    background-size: 100% 130%;
    min-height: 45vh;
} */


/* .left_div:hover{
    float: left;
    width: 27%;
    background: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0.471)) ,url(./circuit-1443256.jpg);
    background-size: 100% 110%;
    min-height: 45vh;
    border-radius: 10px;
}

.middle_div:hover{
    margin: 0 auto;
    width: 27%;
    background: linear-gradient(rgba(0, 0, 0, 0.471), rgba(0, 0, 0, 0.471)) , url(./crusader-garden-4403300.jpg);
    background-size: 100% 120%;
    min-height: 45vh;
    border-radius: 10px;
} */




/* .popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 10vw;
    height: 100vw;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}


.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}







.popup .active .overlay{
    display: block;
}




.popup .active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);

} */







/* Popup container */
.popup {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
   visibility: hidden;
   width: 1400%;
   height: 3700%;
   background-color: rgba(14, 14, 14, 0.95);
   color: #fff;
   text-align: center;
   border-radius: 12px;
   /* padding: 100px; */
   position: absolute;
   z-index: 1;
   bottom: -1200%;
   left: -1025%;
   margin-left: -80px;
}

/* Popup arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
   visibility: visible;
   -webkit-animation: fadeIn 0.5s;
   animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}




.popup .close-btn {
   cursor: pointer;
   position: absolute;
   right: 20px;
   top: 20px;
   width: 30px;
   height: 30px;
   background: #222;
   color: #fff;
   font-size: 25px;
   font-weight: 600;
   line-height: 30px;
   text-align: center;
   border-radius: 50%;
}






.popup_heding {
   font-size: 45px;
   padding-bottom: 30px;
   padding-top: 30px;
   background-color: rgba(145, 97, 59, 1);
   color: black;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}

.popup_body {
   font-size: 20px;
   font-weight: 400;
   line-height: 35px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 100px;
   font-family: 'Lato', sans-serif;
}


.contactno {
   padding-top: 30px;
   font-size: 20px;
   line-height: 40px;
}





.right_div_head_smallsiz {
   color: transparent;
   width: auto;
   text-align: center;
   /* padding-top: 20px; */
   font-size: 0px;
   font-family: 'Poppins', sans-serif;
}

.left_div_head_smallsiz {
   color: transparent;
   width: auto;
   text-align: center;
   /* padding-top: 20px; */
   font-size: 0px;
   font-family: 'Poppins', sans-serif;
}

.middle_div_head_smallsiz {
   color: transparent;
   width: auto;
   text-align: center;
   /* padding-top: 20px; */
   font-size: 0px;
   font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 995px),
screen and (max-height: 600px) {

   .right_div {
      float: none;
      margin: auto;
      /* background-size: 100% 100%; */
      height: 18em;
      width: 18em;
      /* width: 50%;
       background: url(./analysis-2030261.jpg);
       background-size: 100% 130%;
       height: 45vh;
       border-radius: 10px;
       padding: 1rem;
       align-self: center; */
   }

   .left_div {
      float: none;
      margin: auto;
      background-size: 100% 100%;
      height: 18em;
      width: 18em;
      /* width: auto;
       background: url(./circuit-1443256.jpg);
       background-size: 100% 110%;
       height: 45vh;
       border-radius: 10px;
       padding: 1rem; */
   }

   .middle_div {
      /* margin: 0 auto; */
      float: none;
      background-size: 100% 100%;
      height: 18em;
      width: 18em;
      /* padding: 10%; */
      /* margin: 0; */
      /* width: auto;
       background: url(./crusader-garden-4403300.jpg);
       background-size: 100% 120%;
       height: 45vh;
       border-radius: 10px;
       padding: 1rem; */
   }


   .right_div_head {
      /* float: right; */
      width: auto;
      text-align: center;
      padding-top: 20px;
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
      color: transparent;
   }

   .left_div_head {
      /* float: left; */
      width: auto;
      text-align: center;
      padding-top: 20px;
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
      /* background: url(./circuit-1443256.jpg);
       background-size: 100% 100%;
       min-height: 50vh;
       border-radius: 10px; */
      color: transparent;
   }

   .middle_div_head {
      /* margin: 0 auto; */
      width: auto;
      text-align: center;
      padding-top: 20px;
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
      /* background: url(./crusader-garden-4403300.jpg);
       background-size: 100% 100%;
       min-height: 50vh;
       border-radius: 10px; */
      color: transparent;
   }



   .img_txt {
      width: auto;
      min-height: 18em;
      background: rgba(0, 0, 0, 0.5);
      color: rgb(255, 255, 255);
      border-radius: 10px;
      text-align: center;

   }

   .txt {
      padding-top: 10%;
      padding-left: 20px;
      padding-right: 20px;
   }


   /* .img_txt:hover{
       background: rgba(0,0,0,0.5);
       color: rgb(255, 255, 255);
   } */



   .right_div_head_smallsiz {
      color: black;
      text-align: center;
      padding: 2%;
      /* padding-bottom: 12%; */
      font-size: 22px;
   }

   .left_div_head_smallsiz {
      color: black;
      text-align: center;
      padding: 2%;
      /* padding-bottom: 12%; */
      font-size: 22px;
   }

   .middle_div_head_smallsiz {
      color: black;
      text-align: center;
      padding: 2%;
      /* padding-bottom: 12%; */
      font-size: 22px;
   }



   .img_txt {
      height: 18em;
      width: 18em;
      background: rgba(0, 0, 0, 0.5);
      color: rgb(255, 255, 255);
      text-align: center;
      transition: 0.5s;

   }




   .popup .popuptext {
      overflow: hidden;
      visibility: hidden;
      width: 20em;
      height: 32em;
      background-color: rgba(14, 14, 14, 1);
      color: #fff;
      text-align: center;
      border-radius: 12px;
      position: absolute;
      z-index: 1;
      bottom: -20.5em;
      left: -2em;
   }






   .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 0.5s;
      animation: fadeIn 0.5s
   }

   /* Add animation (fade in the popup) */
   @-webkit-keyframes fadeIn {
      from {
         opacity: 0;
      }

      to {
         opacity: 1;
      }
   }

   @keyframes fadeIn {
      from {
         opacity: 0;
      }

      to {
         opacity: 1;
      }
   }




   .popup .close-btn {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 8px;
      width: 30px;
      height: 30px;
      background: #222;
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
   }






   .popup_heding {
      font-size: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: rgba(145, 97, 59, 1);
      color: black;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
   }

   .popup_body {
      font-size: 17px;
      font-weight: 400;
      line-height: 15px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      font-family: 'Lato', sans-serif;
   }


   .contactno {
      padding-top: 3px;
      font-size: 10px;
      line-height: 20px;
   }

}
   

.team{
    margin: 75px 0;
    margin-top: 0px;
}
 .navteam {
   display: flex;
} 


#headingbackgroundimage{
    background:  linear-gradient(rgba(0,0,0,0), rgb(255, 255, 255, 1)), url(./img/texture-1504364.jpg);
    width: 100%;
    background-size: 100%;
    padding-bottom: 50px;
}
#colour{
  color: #000;
  font-weight: bold;
}



@media(max-width:900px) {
#icons-team {
      color: black;
   }
   .navteam .fa-bars{
      color: black;
   }
}

 #heading{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    padding-bottom: 100px;
    padding-top: 120px;
    font-size: 4rem;
}

#heading::after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}
.container{
   width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
}

.row-team{
    padding-top: 70px;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box; 
}

.text-center{
  text-align: center;
}
.profile{
    margin-top: 50px;
}

.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}


.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-responsive{
    border-radius: 11px;
}

.img-box::after{
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    border-radius: 11px;
    position: absolute;
   margin-left: 10%;
   margin-right: 10%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}


.img-box ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 2px;
    display: inline-block;
}

.img-box a{
    text-decoration: none;
}

.img-box:hover::after{
    opacity: 1;
}

.img-box:hover ul{
    opacity: 1;
}

.img-box:hover li{
    color: #007bff;
    border: 1px solid #007bff;
}

.img-box::after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}